@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-[#0A0A0A] text-gray-200 m-0;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.3;
    transform: translateY(8px);
  }
}

.scroll-indicator {
  animation: pulse 2s infinite;
}
